*.egg
*.pyc
*.vscode
.DS_Store
CONTRIBUTING.html
PROJECTS.html
README.html
UPDATE_NOTES.html

/.eggs/
/.pytest_cache/
/dist/
/build/
/docs/_*
/tensorforce.egg-info/
/Tensorforce.egg-info/
/_vizdoom/

/logs/
/saving-test/
/summaries/
/summaries-test/
/temp/
/tensorboard/
/tuner/

*_old*
