*__pycache__*
*.DS_Store
*.egg
*.pyc
*.swp
*.vscode

/CONTRIBUTING.html
/PROJECTS.html
/README.html
/UPDATE_NOTES.html

/.eggs/
/.ipynb_checkpoints/
/.pytest_cache/
/_vizdoom/
/build/
/dist/
/docs/_*
/tensorforce.egg-info/

/_old*
