language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"

branches:
  only:
    - master

install:
  - pip install .[tfa,tune,ale,gym,retro]
  - pip install pytest

script:
  - pytest

notifications:
  email:
    recipients:
      - tensorforce.team@gmail.com
    on_success: never
    on_failure: always
