gym >= 0.21.0, <0.23
h5py >= 3.6.0
matplotlib >= 3.5.1
msgpack >= 1.0.3
msgpack-numpy >= 0.4.7.1
numpy ~= 1.21.5
Pillow >= 9.0.0
tensorflow == 2.8.0
tqdm >= 4.62.3
tensorflow-addons >= 0.15.0
hpbandster >= 0.7.4
ale-py >= 0.7.3
gym[box2d,classic_control] >= 0.21.0
box2d >= 2.3.10
gym-retro >= 0.8.0
vizdoom >= 1.1.11
m2r >= 0.2.1
recommonmark >= 0.7.1
sphinx >= 4.3.2
sphinx-rtd-theme >= 1.0.0
pytest >= 6.2.5
