gym >= 0.18.0
h5py ~=2.10.0
matplotlib >= 3.3.4
msgpack >= 1.0.2
msgpack-numpy >= 0.4.7.1
numpy == 1.19.5
Pillow == 8.1.1
tensorflow == 2.4.1
tqdm >= 4.56.0
tensorflow-addons >= 0.12.1
hpbandster >= 0.7.4
ale-py
gym[atari,box2d,classic_control] >= 0.18.0
box2d >= 2.3.10
gym-retro >= 0.8.0
vizdoom == 1.1.7
m2r >= 0.2.1
recommonmark >= 0.6.0
sphinx >= 3.4.3
sphinx-rtd-theme >= 0.5.1
pytest >= 6.2.2
