gym >= 0.20.0
h5py ~= 3.1.0
matplotlib >= 3.3.4  # keep fixed
msgpack >= 1.0.2
msgpack-numpy >= 0.4.7.1
numpy == 1.19.5
Pillow >= 8.3.1
tensorflow == 2.6.0
tqdm >= 4.62.2
tensorflow-addons >= 0.14.0
hpbandster >= 0.7.4
ale-py >= 0.7rc4
gym[box2d,classic_control] >= 0.20.0
box2d >= 2.3.10
gym-retro >= 0.8.0
vizdoom >= 1.1.8
m2r >= 0.2.1
recommonmark >= 0.7.1
sphinx >= 4.0.2
sphinx-rtd-theme >= 0.5.2
pytest >= 6.2.4
